<ion-header [translucent]="true">
  <ion-title text color="light">
    <h3>Projeto MyFinanças! </h3>
  </ion-title>
</ion-header>

<div id="logo-div">
  <img src="../../../assets/icon/my_logo.png" alt="My_Finanças">
</div>

<ion-content class="ion-padding">
  <div id="container">
    <ion-text text color="light"> <strong>Vinicius Ferreira Alves de Oliveira</strong></ion-text><br />
    <i>GU3002519</i>
  </div>
</ion-content>

<ion-footer>
  <ion-button [routerLink]="['/contas/pagar']" fill="clear" color="if" expand="block">Visualizar Conta</ion-button>
  <ion-button [routerLink]="['/contas/cadastro']" fill="clear" color="if" expand="block">Cadastrar uma Conta
  </ion-button>
  <ion-button (click)="logout()" fill="clear" color="if" expand="block"> Logout</ion-button>


</ion-footer>