#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#logo-div{
  height: 50%;
  display: flex;
  align-items: center;//Alinhamento Vertical
  justify-content: center;//Alinhamento Horizontal

   h3{
       text-align: center;
   }
   img{
      max-width:300px;
      max-height:200px;
      width: auto;
      height: auto;

   }
}