<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="cash-outline" color="if"></ion-icon>
      <ion-title text color="light">Contas a pagar</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>

  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input text color="light" formControlName="parceiro" placeholder="Parceiro Comercial" autfocus="true">
      </ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input text color="light" formControlName="descricao" placeholder="Descrição da conta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input text color="light" type="number" formControlName="valor" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label text color="light">A pagar</ion-label>
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text color="light">A receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <br><br>
    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
  </form>

  <ion-button [routerLink]="['/home']" fill="clear" color="if" fill="clear" expand="block">Voltar a Home</ion-button>



</ion-content>