<ion-content class="ion-padding">

  <topo-login title="Cadastrar usuario"></topo-login>


  <form [formGroup]="loginForm" (submit)="createUser()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input text color="light" formControlName="nome" type="text" placeholder="Nome" autfocus="true"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input text color="light" formControlName="snome" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input text color="light" formControlName="email" type="email" placeholder="E-mail" autfocus="true">
      </ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input text color="light" formControlName="password" type="password" placeholder="Senha" autfocus="true">
      </ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input text color="light" formControlName="confirm_pass" type="password" placeholder="Confirme Sua Senha"
        autfocus="true">
      </ion-input>
    </ion-item>
    <ion-button text color="light" [disabled]="loginForm.invalid" type="submit" expand="block" color="if" fill="clear">
      Enviar</ion-button>
  </form><br><br>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium"> Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>