<div id="logo-div">
    <ion-text color="medium">

        <p>{{title ? title : ''}}</p>
        <img src="../../../assets/icon/my_logo.png" alt="My_Finanças">

        <h2 class="ion-text-center">MyFinanças</h2>
    </ion-text>

</div>