#logo-div{
    height: 35%;
    display: flex;
    align-items: center;//Alinhamento Vertical
    justify-content: center;//Alinhamento Horizontal

     h3{
         text-align: center;
     }
     img{
        max-width:200px;
        max-height:100px;
        width: auto;
        height: auto;

     }
}