<ion-header>
  <ion-toolbar>
    <ion-title text color="light">Contas a Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-item *ngFor="let conta of listaContas">
      <ion-label>
        <h2>{{conta.parceiro}}</h2>
        <p>{{conta.descricao}}</p>
        <h3>R${{conta.valor}}</h3>
      </ion-label>

      <ion-item slot="end" name="trash-outline" (click)="remove(conta)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item>

    </ion-item>
  </ion-list>
  <ion-button [routerLink]="['/home']" fill="clear" color="if" fill="clear" expand="block">Voltar a Home</ion-button>
  <ion-button [routerLink]="['/contas/cadastro']" fill="clear" color="if" fill="clear" expand="block">Cadastra Uma nova
    conta</ion-button>

</ion-content>